body {
    margin: 0;
    color: aliceblue;
    
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}
a {
    color: aliceblue;
    text-decoration: none;
}

.corpo {
    background-color: #1a1a1a;
    height: 100vh;
    display: flex;
    justify-content: center;
}

.corpo .content {
    height: 100%;
    width: 80%;
    display: flex;
    justify-content: space-evenly;
}


/*Clicker, pontos do usuário*/
.corpo .content #clicker_pontos {
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

/* .corpo .content #clicker_pontos #clicker {
    background-color: black;
    background-size: cover;
    border: 2px solid #fefefe;
    border-radius: 10%;
} */

.corpo .content #clicker_pontos #clicker:hover {
    transform: scale(1.05);
}

.corpo .content #clicker_pontos #pontos {
    font-size: xx-large;
}

/*Upgrades, configurações*/
.corpo .content #upgrades_settings {
    height: 100%;
    width: 35%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

/*Configurações parte de cima da div*/
.corpo .content #upgrades_settings #settings {
    width: 85%;
    background-color: #3b3b3b;
    border: 1px solid #fefefe;
    border-radius: 15px;
    padding: 1px;
}

.corpo .content #upgrades_settings #settings ul {
    padding-inline: 25px;
    display: flex;
    justify-content: space-between;
    font-size: larger;
    list-style: none;
}

/*Lista de upgrades*/
.corpo .content #upgrades_settings .lista_upgrades {
    width: 95%;
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;

    border: 1px solid #fefefe;
    border-radius: 15px;
}

.corpo .content #upgrades_settings .lista_upgrades .upgrades {
    width: 85%;
    background-color: #3b3b3b;
    border: 1px solid #fefefe;
    border-radius: 20px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
    cursor: pointer;
}
#upgrades_settings .lista_upgrades .upgrades:hover {
    transform: scale(1.05);
}
#upgrades_settings .lista_upgrades .upgrades h2, p {
    margin-block: 3px;
}