body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
.corpo {
    height: 100vh;
    background-color: #4d4d4d;
    /* background-color: #010101; */
}

.corpo #content {
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-evenly;
}

.corpo #content .container {
    margin-inline: auto;
    margin-top: 20px;
    background-color: rgb(126, 126, 126);
    display: flex;
    flex-direction: column;
    border-radius: 10px;
}

#userImg {
    width: 20%;
    align-items: center;
    height: fit-content;
}
#userImg img {
    width: 80%;
}

#userFeed {
    width: 75%;
    align-items: center;
    margin: auto;
}
#userFeed .userDados {
    display: flex;
    width: 90%;
    margin: auto;
    justify-content: space-between;
    font-size: 17px;
}
#userFeed .userDados .albumConquistas {
    background-color: #fefefe;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* margin-inline: 25px; */
    margin-block: 10px;
    justify-content: center;
    padding-block: 5px;
}

#userFeed .userDados .albumConquistas h6, h5 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#userFeed .userDados .albumConquistas h6 {
    font-size: 13px;
}

#userFeed .userDados .albumConquistas img {
    height: 15px;
    vertical-align: middle;
}

#userFeed .userDados .albumConquistas .dadosConquistas {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: auto;
    padding-inline: 50px;
    margin-block: 10px;
}
#userFeed .userPosts {
    display: flex;
}
#userFeed .userPosts button {
    height: 50px;
    margin-block: center;
    margin-inline: 7px;
    border-radius: 8px;
}
#userFeed .userPosts {
    margin-block: 25px;
}
#userFeed .userPosts textarea {
    border: 1px solid #010101;
    border-radius: 10px;
    resize: none;
}
#userFeed .userPosts #publicarTexto {
    background-color: green;
}

#userFeed .userDados h5, h6 {
    margin-block: 2px;
}
#userFeed .userDados img {
    height: 50px;
}

#userFeed #avaliacaoEstatistica {
    width: 90%;
    display: flex;
    justify-content: end;
}

button {
    margin: 10px;
    height: 25px;
    background-color: #fefefe;
    border: 1px solid #1a1a1a;
    border-radius: 10px;
    cursor: pointer;
}

button:hover {
    color: red;
}

#telaAvaliacoes {
    width: 100%;
}

#userFeed #telaAvaliacoes .avaliacoes {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    text-align: center;
    align-items: center;
}

#userFeed #telaAvaliacoes .avaliacoes #coracoesClicker, #coracoesQuiz {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    height: 35px;
}

#userFeed #telaDashboard {
    background-color: #fefefe;
    /* display: flex; */
    height: 320px;
    width: 97%;
    margin-bottom: 10px;
    border-radius: 5px;
    /* overflow: auto;
    white-space: nowrap; */
}

#telaDashboard #dashboard {
    display: inline-block;
    height: 100%;
    width: 100%;
    overflow-x: scroll;
    /* overflow-y: hidden; */
    white-space: nowrap;
}

.grafico {
    align-self: flex-end;
    height: 80%;
    width: 300px;
    margin-inline: 40px;
}
