body {
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.corpo {
    height: 100vh;
    width: 100vw;
    background-color: #1a1a1a;
    display: flex;
    justify-content: center;
    align-items: center;
}

a {
    text-decoration: none;
}

.container {
    height: 80%;
    width: 80%;
    background-color: #fefefe;
    border-radius: 10px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.container #timer {
    width: 90%;
    display: flex;
    justify-content: end;
}

.container #textos {
    width: 75%;
    margin-bottom: 7%;
    text-align: center;
}
#textos p {
    font-size: 30px;
}

.container #botoes {
    width: 75%;
    height: 30%;
    margin-bottom: 7%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
}

.container #botoes button {
    width: 250px;
    height: 75px;
    border: 2px solid #1a1a1a;
    border-radius: 10px;
    font-size: larger;
    font-weight: 700;
    color: #ff0000;
    cursor: pointer;
}

.container #botoes button:hover {
    transform: scale(1.05);
}

.container #botoes .linhaBotoes {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}